<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ホーム</title>
  <link rel="stylesheet" href="">
</head>

<body>

  <div class="container">

    <%= link_to "BASEで認可", base_request_authorize_path, class: "btn btn-primary" %>

    <%= link_to "アクセストークンの取得", base_authorize_path, class: "btn btn-primary" %>

    <form action="/fetch_base_products" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="submit" value="新規商品取り込みAPI">
    </form>

    <button class="button2">チャットGPT<br>説明文一括編集</button>

  </div>

  <footer>
  </footer>

</body>

</html>
