<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ホーム</title>
  <link rel="stylesheet" href="">
</head>

<body>

  <div class="container">
    <button class="button1">新規商品取り込み<br>API</button>
    <button class="button2">チャットGPT<br>説明文一括編集</button>
  </div>

  <footer>
  </footer>

</body>

</html>
