.header {
  background-color: #333;
  overflow: hidden;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.header li {
  color: white;
  padding: 14px 16px;
}

.header li:hover {
  background-color: #111;
}