<%= stylesheet_link_tag 'header' %>

<header class="header">
  <ul>
  <li>ホーム</li>
  <li>商品一覧</li>
  <li>ログアウト</li>
  <li><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></li>
  </ul>
</header>
